@use "sass:math";
@import "../../../../mixins";

:host {
  @include pagePaddingTop;
  display: block;
  padding-bottom: #{math.div($page-top-padding, 2)};
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-below($screen-tablet) {
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;

    @include media-below($screen-mobile) {
      width: 64px;
      height: 64px;
    }
  }

  .section-title {
    margin: -.35em 0 0 .5em;

    span {
      display: block;
    }

    small {
      display: inline-block;
      line-height: 1.2;
      letter-spacing: .12em;
      text-transform: uppercase;
      font-size: .45em;

      &.admin-mode {
        padding: .25em .5em;
        margin-bottom: .25em;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, .06);
      }
    }
  }
}

.header-actions {
  @include media-below($screen-tablet) {
    margin-top: 24px;
  }

  .mat-button-base {
    + .mat-button-base {
      margin-left: 16px;
    }
  }
}
