<ng-container *ngIf="account">
  <div class="container">
    <div class="header-inner">
      <div class="header-content">
        <img class="avatar" [src]="account.avatarUrl" [alt]="account.firstName + ' ' + account.lastName">
        <h1 class="section-title">
          <small [class.admin-mode]="isAdmin">{{greeting}}</small>
          <span>{{account.firstName}} {{account.lastName}}</span>
        </h1>
      </div>

      <div class="header-actions">
        <button mat-raised-button color="primary" (click)="newFood.emit()">
          <mat-icon>add</mat-icon>
          Add Food Entry
        </button>
        <button mat-raised-button (click)="logout.emit()">Logout</button>
      </div>
    </div>
  </div>
</ng-container>
