<ng-container *ngIf="state$ | async as state">
  <app-header
    [account]="state.account"
    (logout)="auth.logout().subscribe()"
    (newFood)="facade.add().subscribe()"
  ></app-header>

  <div class="page-inner">
    <div class="container">
      <div class="dashboard">
        <div class="main-panel">
          <h3 class="section-title-small">Food record & Calories</h3>
          <app-food-table
            [food]="state.food"
            [users]="[state.account]"
            [displayUser]="false"
            (editFood)="facade.edit($event).subscribe()"
            (selectFood)="facade.edit($event).subscribe()"
            (removeFood)="facade.remove($event).subscribe()"
          ></app-food-table>
        </div>

        <div class="side-panel">
          <h3 class="section-title-small">User limits</h3>
          <div class="island mat-elevation-z2">
            <app-warnings-view [user]="state.account" [food]="state.food"></app-warnings-view>
          </div>

          <h3 class="section-title-small">Weekly calories</h3>
          <div class="island mat-elevation-z2">
            <app-statistics-view [user]="state.account" [food]="state.food"></app-statistics-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
