@import "mixins";

html {
  .mat-button-base {
    &:not(.mat-icon-button) {
      line-height: 50px;
      min-width: 112px;
      font-size: 16px;

      @include media-below($screen-mobile) {
        line-height: 42px;
        min-width: 96px;
        font-size: 14px;
      }
    }
  }

  .mat-form-field-appearance-outline {
    vertical-align: bottom;

    .mat-form-field-outline-start {
      border-radius: 4px 0 0 4px;
    }

    .mat-form-field-outline-end {
      border-radius: 0 4px 4px 0;
    }

    .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
      font-size: 12.73px;

      input {
        font-size: 16px;
      }

      mat-label {
        font-size: 16px;
      }
    }
  }

  .mat-tooltip.tooltip-for-icon {
    margin-top: 0;
    pointer-events: none;
  }

  .mat-select-value-text {
    font-size: 16px;
  }

  .mat-select-panel {
    .mat-option {
      font-size: 16px;
    }
  }

  .mat-option-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
  }

  .island {
    background: #fff;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    padding: 24px;
  }

  .dashboard {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .main-panel {
      flex: 4 0 640px;
    }

    .side-panel {
      flex: 1 0 480px;
      margin-left: 48px;
      max-width: 480px;

      .section-title-small:not(:first-child) {
        margin-top: 32px;
      }

      @include media-below($screen-laptop) {
        flex: 1 0 440px;
        margin-left: 32px;
        max-width: 440px;
      }
    }

    @include media-below($screen-tablet) {
      flex-flow: column-reverse;

      .main-panel,
      .side-panel {
        flex: 1 0 100%;
        width: 100%;
        max-width: 100%;
      }

      .side-panel {
        margin-left: 0;
        margin-bottom: 32px;
      }
    }
  }
}
