@import "../mixins";

.page-title {
  font: 900 82px Roboto Mono;
  line-height: 100px;
  text-align: left;
  margin: 0 auto 30px;

  @media screen and (max-width: $screen-laptop) {
    font-size: 72px;
    line-height: 80px;
  }

  @media screen and (max-width: $screen-tablet) {
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 24px;
  }

  @media screen and (max-width: $screen-mobile) {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 18px;
  }
}

.section-title,
.section-title-small {
  font-size: 48px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 32px;

  @include media-below($screen-laptop) {
    font-size: 42px;
  }

  @include media-below($screen-mobile) {
    font-size: 32px;
    margin-bottom: 24px;

    br {
      display: none;
    }
  }
}

.section-title-small {
  font-size: 24px;
  margin: 0 0 18px;
  font-weight: 500;
  opacity: .66;

  @include media-below($screen-mobile) {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
