@import "variables";

@mixin iconHover($factor: 1.06) {
  @media screen and (min-width: #{$screen-tablet + 1px}) {
    :host {
      transition: transform .15s;
    }

    :host-context(.has-attention),
    :host-context(.is-icon-transition) {
      background: none;
      transform: none;
    }

    :host-context(body:not(.is-icon-transition) app-icon:not(.has-attention)) {
      transition: background .15s, transform .15s;

      &:hover {
        transition: transform .15s;
        background: $text-black-color;
        transform: scale($factor);
      }
    }
  }
}

@mixin iconPreviewPadding() {
  padding: 24px;

  @media screen and (max-width: $screen-laptop) and (min-width: #{$screen-tablet + 1px}) {
    padding: 18px;
  }

  @media screen and (max-width: $screen-mobile) {
    padding: 18px;
  }
}
