<ng-container *ngIf="state$ | async as state">
  <app-header
    [account]="state.account"
    (logout)="auth.logout().subscribe()"
    (newFood)="facade.add().subscribe()"
  ></app-header>

  <div class="page-inner">
    <div class="container">
      <div class="dashboard">
        <div class="main-panel">
          <h3 class="section-title-small">Manage food records</h3>
          <app-food-table
            [food]="state.food"
            [users]="state.users"
            [displayUser]="true"
            [selected]="state.selectedFood"
            (editFood)="facade.edit($event).subscribe()"
            (selectFood)="selectFood$.next($event)"
            (removeFood)="facade.remove($event).subscribe()"
          ></app-food-table>
        </div>

        <div class="side-panel">
          <div *ngIf="state.selectedUser" class="side-panel-inner">
            <h3 class="section-title-small">User Report</h3>

            <div class="side-panel-inner-content">
              <div class="island mat-elevation-z2">
                <app-user-view [user]="state.selectedUser"></app-user-view>
                <app-warnings-view [user]="state.selectedUser" [food]="state.selectedUserFood" [extended]="true"></app-warnings-view>
                <app-statistics-view [user]="state.selectedUser" [food]="state.selectedUserFood"></app-statistics-view>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
