@import "mixins";

@include slideAfterLoad;

.page-inner {
  @include pagePaddingBottom;
}

.side-panel-inner {
  &-content {
    @include popupAppear;
  }

  app-user-view {
    font-size: 24px;

    @include media-below($screen-mobile) {
      font-size: 20px;
    }
  }

  app-warnings-view {
    margin-top: 24px;
  }

  app-statistics-view {
    margin-top: 24px;
  }
}
