:host {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  line-height: 1;
  margin-right: .35em;
}

.name {
  font-size: 1em;
  line-height: 1.25;
}
