<ng-container *ngIf="productName && icon$">
  <ng-container *ngIf="icon$ | async as icon">
    <span class="icon">{{ icon }}</span>
    <span class="name">{{ productName }}</span>
  </ng-container>
</ng-container>
