@import "mixins";

:host {
  display: block;
}

.mat-table {
  width: 100%;
  overflow: hidden;

  @include media-below($screen-tablet) {
    min-width: 760px;
  }
}

.table-wrap {
  background: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;

  @include media-below($screen-tablet) {
    overflow: auto;
  }
}

.not-found {
  padding: 24px;
  opacity: .5;
}

.filter-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 24px 8px;

  .mat-form-field {
    + .mat-form-field {
      margin-left: 16px;
    }
  }
}

.none {
  opacity: .5;
}

.mat-row {
  cursor: pointer;

  &:not(.selected) {
    &:hover {
      background: rgba(0, 0, 0, .03);
    }
  }

  &.selected {
    background: rgba(0, 0, 0, .06);

    &:hover {
      background: rgba(0, 0, 0, .045);
    }
  }
}

.delete-icon {
  color: #f44336;
}

.edit-icon {
  color: rgba(0, 0, 0, .5);
}

.mat-column-actions {
  text-align: right;

  &.mat-header-cell {
    padding-right: 56px;
  }
}
