<div class="table-wrap mat-elevation-z2">
  <form class="filter-form" [formGroup]="filterForm">
    <mat-form-field appearance="outline">
      <mat-label>Since</mat-label>
      <input formControlName="since" matInput type="text" [matDatepicker]="picker1" [max]="filterForm.get('till')!.value ?? today">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Till</mat-label>
      <input formControlName="till" matInput type="text" [matDatepicker]="picker2" [max]="today" [min]="filterForm.get('since')!.value ?? null">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </form>

  <ng-container *ngIf="filteredFood$ | async as filteredFood">
    <table *ngIf="filteredFood.length" mat-table [dataSource]="filteredFood">
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element">
          <ng-template #userTemplate let-user="user">
            <app-user-view *ngIf="user" [user]="user"></app-user-view>
            <span *ngIf="!user" class="none">None</span>
          </ng-template>
          <ng-container [ngTemplateOutlet]="userTemplate" [ngTemplateOutletContext]="{
        user: users | findUser:element.userId
      }"></ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="takenDate">
        <th mat-header-cell *matHeaderCellDef>Taken Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.takenDate | prettyDate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">
          <app-product-view [productName]="element.productName"></app-product-view>
        </td>
      </ng-container>

      <ng-container matColumnDef="productCalories">
        <th mat-header-cell *matHeaderCellDef>Calories</th>
        <td mat-cell *matCellDef="let element">{{ element.productCalories }} CAL</td>
      </ng-container>

      <ng-container matColumnDef="productPriceUSD">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.productPriceUSD">
            $ {{ element.productPriceUSD | number: '1.2-2':'en-US' }}
          </ng-container>
          <ng-container *ngIf="!element.productPriceUSD">
            <span class="none">None</span>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button class="edit-icon"
                  (click)="editFood.emit(element)"
                  mat-icon-button [matTooltip]="actionName('Edit', element)" matTooltipClass="tooltip-for-icon">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-icon"
                  (click)="removeFood.emit(element)"
                  mat-icon-button [matTooltip]="actionName('Delete', element)" matTooltipClass="tooltip-for-icon">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let element; columns: columns" (click)="selectFood.emit(element)" [class.selected]="selected?.id === element.id"></tr>
    </table>
    <div *ngIf="!filteredFood.length" class="not-found">
      Food Entries - not found
    </div>
  </ng-container>
</div>
