<ng-container *ngIf="user">
  <img class="avatar" [src]="user.avatarUrl" [alt]="user.firstName + ' ' + user.lastName"/>
  <span class="full-name">{{user.firstName}} {{user.lastName}}</span>
</ng-container>
