:host {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.avatar {
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
  border-radius: 50%;
  margin-right: .5em;
}

.full-name {
  font-size: 1em;
  line-height: 1.25;
}
