<form [formGroup]="form" (submit)="onSubmit()">
  <h2 mat-dialog-title>
    <app-product-view [productName]="form.get('productName')?.value || (isEdit ? 'Edit Food Entry' : 'New Food Entry')"></app-product-view>
  </h2>
  <mat-dialog-content>
    <div class="form">
      <mat-form-field *ngIf="form.contains('userId')" appearance="outline">
        <mat-label>For user</mat-label>
        <mat-select formControlName="userId">
          <mat-option *ngFor="let user of users" [value]="user.id">
            <app-user-view [user]="user"></app-user-view>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Product Name</mat-label>
        <input formControlName="productName" matInput type="text" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredProducts$ | async" [value]="option.name" (onSelectionChange)="onProductSelect($event)">
            <app-product-view [productName]="option.name"></app-product-view>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Product Calories</mat-label>
        <input formControlName="productCalories" matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Product Price USD</mat-label>
        <input formControlName="productPriceUSD" matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input formControlName="takenDate" matInput type="text" [matDatepicker]="picker" [max]="today">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Time</mat-label>
        <input formControlName="takenTime" matInput type="text"/>
        <mat-icon matSuffix>schedule</mat-icon>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">{{ isEdit ? 'Apply changes' : 'Create new entry' }}</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
