:host {
  display: block;
  max-width: 480px;
  width: 100%;
}

.mat-form-field {
  .mat-icon {
    opacity: .66;
  }
}

.form {
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 -8px;

  .mat-form-field {
    width: calc(50% - 16px);
    margin: 0 8px 16px;

    &.full-width {
      width: calc(100% - 16px);
    }
  }
}

.mat-dialog-actions {
  padding-bottom: 19px;

  .mat-button-base {
    line-height: 42px;
    min-width: 64px;
    font-size: 16px;

    + .mat-button-base {
      margin-left: 12px;
    }
  }
}
