<div class="bars" [class.is-loaded]="isLoaded">
  <div *ngFor="let bar of bars; let id = index" class="bar-wrap">
    <div class="bar"
         [style.--progress]="bar.progress"
         [style.--exceed]="bar.exceed"
         [style.--index]="id"
    >
      <div class="bar-inner">
        <div *ngIf="bar.exceed > 0" class="bar-inner-exceed"></div>
      </div>
    </div>
    <div class="bar-content">
      <div class="bar-count">{{getCountLabel(bar.count)}}</div>
      <div class="bar-label">{{bar.label}}</div>
    </div>
  </div>
</div>

<div class="total">
  <span>Weekly total</span>
  <strong>{{total}} CAL</strong>
</div>
