@import "../../../../mixins";

$accent-color: #ffc107;
$exceed-color: #f44336;

:host {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  flex-flow: column;
}

.bars {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin: 0 -4px;
}

.bar-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column;
  padding: 0 4px;
  flex: 1 0;
  height: 100%;
}

.bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 150px;
  width: 100%;

  &-inner {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(var(--progress) * 100%);
    background: $accent-color;
    width: 100%;
    transition: transform .5s calc(.1s + var(--index) * .1s);
    transform-origin: bottom center;
    border-radius: 6px;

    &-exceed {
      height: calc(var(--exceed) * 100%);
      flex-shrink: 0;
      background: $exceed-color;
      width: 100%;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      transform-origin: top center;
      border-bottom: 2px solid #fff;
      transition: transform .5s calc(.4s + var(--index) * .1s);

      .bars:not(.is-loaded) & {
        transform: scaleY(0);
      }
    }

    .bars:not(.is-loaded) & {
      transform: scaleY(0);
    }
  }

  &-content {
    width: 100%;
    text-align: center;
    margin-top: 6px;
  }

  &-count {
    width: 100%;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.1;
  }

  &-label {
    width: 100%;
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.1;
    min-height: #{1.1 * 2em};
    max-height: #{1.1 * 2em};
    overflow: hidden;
    opacity: .5;
  }
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;

  strong,
  span {
    font-size: 16px;
  }
}

@media screen and (max-width: $screen-mobile) {
  .bars {
    flex-flow: column-reverse;
    margin: -6px 0;
  }

  .bar-wrap {
    align-items: center;
    justify-content: flex-end;
    flex-flow: row-reverse;
    width: 100%;
    padding: 6px 0;
  }

  .bar {
    height: auto;
    align-items: center;
    justify-content: flex-start;

    &-inner {
      height: 32px;
      background: $accent-color;
      width: calc(var(--progress) * 100%);
      transform-origin: left center;
      flex-flow: row;
      justify-content: flex-end;

      &-exceed {
        height: 100%;
        width: calc(var(--exceed) * 100%);
        border-radius: 0;
        border-bottom-right-radius: inherit;
        border-top-right-radius: inherit;
        transform-origin: right center;
        border-bottom: none;
        border-left: 2px solid #fff;

        .bars:not(.is-loaded) & {
          transform: scaleX(0);
        }
      }

      .bars:not(.is-loaded) & {
        transform: scaleX(0);
      }
    }

    &-content {
      flex-shrink: 0;
      width: 90px;
      text-align: left;
      margin-top: 0;
    }

    &-label {
      min-height: unset;
      max-height: unset;
    }
  }
}
