@import "mixins/variables";
@import "mixins/icons";
@import "mixins/fonts";
@import "mixins/media";

@mixin link-color($color: currentColor, $hover: $accent-blue-color) {
  color: $color;

  &:hover {
    transition: color .15s;
    color: $hover;
  }
}

@keyframes slidePageInnerAfterLoad {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

@mixin slideAfterLoad() {
  .page-inner {
    animation: slidePageInnerAfterLoad .5s;
  }
}

@keyframes popupAppearAnimation {
  0% {
    opacity: 0;
    transform: scale(.85);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

@mixin popupAppear() {
  animation: popupAppearAnimation .3s;
}

@mixin pagePaddingBottom() {
  padding-bottom: $container-padding;

  @media screen and (max-width: $screen-laptop) {
    padding-bottom: $container-padding-laptop;
  }

  @media screen and (max-width: $screen-tablet) {
    padding-bottom: $container-padding-tablet;
  }

  @media screen and (max-width: $screen-mobile) {
    padding-bottom: $page-top-padding-mobile;
  }
}

@mixin pagePaddingTop() {
  padding-top: $page-top-padding;

  @media screen and (max-width: $screen-laptop) {
    padding-top: $page-top-padding;
  }

  @media screen and (max-width: $screen-tablet) {
    padding-top: $page-top-padding;
  }

  @media screen and (max-width: $screen-mobile) {
    padding-top: $page-top-padding-mobile;
  }
}
