<ng-container *ngIf="extended">
  <div class="notification">
    <div class="notification-icon">
      <mat-icon>event</mat-icon>
    </div>
    <div class="notification-text">
      Weekly Entries vs Past week  <span class="space"></span><strong>{{ entriesThisWeek }} / {{ entriesPastWeek }}</strong>
    </div>
  </div>

  <div class="notification">
    <div class="notification-icon">
      <mat-icon>event</mat-icon>
    </div>
    <div class="notification-text">
      Weekly Calories Average <span class="space"></span><strong>{{ averageCalories }} CAL</strong>
    </div>
  </div>
</ng-container>

<div class="notification calories" [class.warning]="caloriesUsed > caloriesLimit">
  <div class="notification-icon">
    <mat-icon>{{ caloriesUsed <= caloriesLimit ? 'check_circle' : 'error_outline'}}</mat-icon>
  </div>
  <div class="notification-text">
    <ng-container *ngIf="caloriesUsed <= caloriesLimit">
      Today Calories: <span class="space"></span> <strong>{{caloriesUsed}} / {{caloriesLimit}} CAL</strong>
    </ng-container>
    <ng-container *ngIf="caloriesUsed > caloriesLimit">
      Today Calories Exceeded: <span class="space"></span> <strong>{{caloriesUsed}} / {{caloriesLimit}} CAL</strong>
    </ng-container>
  </div>
</div>

<div class="notification budget" [class.warning]="budgetUsed > budgetLimit">
  <div class="notification-icon">
    <mat-icon>{{ budgetUsed <= budgetLimit ? 'check_circle' : 'error_outline'}}</mat-icon>
  </div>
  <div class="notification-text">
    <ng-container *ngIf="budgetUsed <= budgetLimit">
      Monthly Budget: <span class="space"></span> <strong>{{budgetUsed}} / {{budgetLimit}} $</strong>
    </ng-container>
    <ng-container *ngIf="budgetUsed > budgetLimit">
      Monthly Budget Exceeded: <span class="space"></span> <strong>{{budgetUsed}} / {{budgetLimit}} $</strong>
    </ng-container>
  </div>
</div>
