@import "mixins";

:host {
  display: block;
}

.notification {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.calories {
    .mat-icon {
      color: #ffc107;
    }
  }

  &.budget {
    .mat-icon {
      color: #8bc34a;
    }
  }

  &.warning {
    border: none;
    background: #f44336;
    color: #fff;
    font-weight: 500;

    .mat-icon {
      color: inherit;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .33em;
  }

  &-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    .space {
      flex: 1 0;
    }
  }

  + .notification {
    margin-top: 16px;
  }
}

.notification {
  @include media-below($screen-mobile) {
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;

    + .notification {
      margin-top: 12px;
    }
  }
}
