@import "mixins";

@include slideAfterLoad;

.page-inner {
  @include pagePaddingTop;
  @include pagePaddingBottom;
  min-height: 100vh;
  display: flex;
  flex-flow: column;

  > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex: 1 0;
    width: 100%;
  }

  .mat-button-toggle-group {
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
  }

  .mat-form-field {
    width: 320px;
    margin-right: 8px;
  }

  @include media-below($screen-mobile) {
    .mat-form-field {
      width: 100%;
      margin-right: 0;
      margin-bottom: 8px;
    }

    .mat-button-base {
      width: 100%;
    }
  }
}
