<div *ngIf="greetingIcon$ | async as greetingIcon" class="page-inner">
  <div class="container">
    <div class="page-title">Calorie App {{greetingIcon}}</div>

    <form [formGroup]="form" (submit)="onSubmit()">
      <mat-button-toggle-group formControlName="authRole">
        <mat-button-toggle value="admin">Admin mode</mat-button-toggle>
        <mat-button-toggle value="user">User mode</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Auth Token</mat-label>
        <input formControlName="authToken" matInput type="text">
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary">Sign in</button>
    </form>
  </div>
</div>
